body { overflow-x: hidden; }

/* #logo-principal{
    width: 350px;
}


.container-bg{
    width: 100%;
    background:
    linear-gradient(
      rgba(0,0,0,.3),rgba(0,0,0,.1)
    ),
    url(/static/home/img/parque-das-aguas-rampas.jpg) no-repeat;
    background-position: center!important;
    background-attachment: fixed!important;
    background-size: cover!important;
    position: relative!important;
    text-align: center;

}

.conteudo-bg{
    padding-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.conteudo-bg h1{
    color: rgb(8, 230, 255);
    text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,                    
                1px -1px 0px #FFF,                  
                1px 0px 0px #FFF;
} */

.wave-carrossel-div{
    bottom: -50px;
    position: absolute;
    width: 100%;
}

#wave-svg{
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
}


.widget-whatsapp{
    margin: 15px;
    position: fixed;
    bottom: 34px;
    right: 0;
    z-index: 1000;
    width: 50px;
    height: 50px;
    background-color: #4dc247;
    display: block;
    border-radius: 50%;
    text-align: center;
    -webkit-box-shadow: -2px 13px 19px -12px rgba(0,0,0,0.9); 
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.widget-whatsapp--icon path{
    fill: #fff;

}

.widget-whatsapp:hover{
    width: 60px;
    height: 60px;
}


.container-parque-intro{
    background-color: #2EDFD5;
    padding-top: 80px;
    position: relative;
    z-index: 1;

    
}

.container-parque-intro h1{
    font-family: 'dk_astromonkeyregular', sans-serif;
}

#img-parque1{
    width: 100%;
    min-width: 300px;
}



.container-parque-intro{
    display: flex;
    justify-content: center;
    
}
.conteudo-parque-intro{
    width: 90%;
    gap: 10px;
    margin-bottom: 78px;

}

.img-intro img{
    border-radius: 20px;
    margin: 10px;
}

.img-intro{
    position: relative;
}

.img-intro::before {
    content: '';
    position: absolute;
    transform: translate(-6%,-6%);
    height: 132%;
    width: 126%;
    background-image: url(/static/home/img/patterns.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    z-index: -1;
}
